.img{
	height: 80px;
}

.bg-lightblue{
	background: lightblue;
}

.jumbotron{
	background: beige;!important
}

.txt-principal{
	font-size: 20px;
	background: greenyellow;
   	padding: 15px;
}

.imgFooter{
	height: 50px;
	margin: 10px;
}

.txtFooter{
	font-size: 15px;
	color: black;
	margin: 10px;
}

.txtFooter1{
	margin-top:10px ;
	display: inline-block;
}

.titulo{
	background: beige;
    text-align: center;
}

.imgNosotros{
	height: 400px;
}

.row1{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.txtNosotros{
	margin: 10px;
	background: greenyellow;
}

.txtNosotrosP{
	padding: 10px;
	text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 768px){
	.img-principal{
		height: 288px;
		margin: 18px;
	}

	.imgNosotros{
		height: 70%;
	}
}

@media only screen and (min-width: 1024px){
	.navbar-expand-lg .navbar-collapse {
	display: flex!important;
	flex-basis: auto;
	justify-content: flex-end;
}

.img-principal{
	height: 541px;
}
}
